{% extends 'dashboard/admin/base_template.html'%}
{% load static %}

{% block title %}
Admin Add Stduent
{% endblock title%}

{% block main_title %}
Add Student
{% endblock main_title%}

{% block side_title %}
Add Student
{% endblock side_title%}

{% block main_content %}
<section class="content">
    <div class="container-fluid">

        <!-- Main column -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary ">
                    <div class="card-header ">
                        <h3 class="card-title">Add Your Details</h3>
                    </div>
                    <div class="my-2">
                    {% if messages %}
                    {% for message in messages  %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!!</strong> {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!!!</strong> {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                    <!-- /.card-header -->
                    {% url 'AdminSaveStudent' as action_path %}
{% include 'dashboard/admin/form_template.html' with messages=messages form=form action_path=action_path button_text='Add Student'  %}
                    <!-- Form end -->
                </div><!-- /.card -->
            </div> <!-- col-md-12 -->
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}