{% extends 'registration/base.html' %}
{% load static %}
{% block body %}

<div class="limiter">
    <div class="container-login100"
        style="background-image:url({% static 'JigyasaApp\loginSignup\images\bg-01.jpg' %});">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            {% if validlink %}
            <form method="POST" class="login100-form validate-form">
                {% csrf_token %}
                <span class="login100-form-title p-b-49">
                    Reset Password
                </span>
                <ol>
                    <li>Your password can’t be too similar to your other personal information.
                    </li>
                    <li>Your password must contain at least 8 characters.
                    </li>
                    <li>Your password can’t be a commonly used password.
                    </li>
                    <li>Your password can’t be entirely numeric.
                        New password confirmation:</li>
                </ol>
                <br> 
                {% for field in form %}
                <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
                            class="form-control">
                    </div>
                </div>
                {% endfor %}
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button type="submit" class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                </div>
                <br>
            </form>
            {% else %}
            
    <div class="container-login100"
    style="background-image:url({% static 'JigyasaApp\loginSignup\images\bg-01.jpg' %});">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

        <div class="alert alert-warning" role="alert">
            The Password Link was expired or Invalid. Please Get another link for resetting the password. You can <a href="{% url 'ShowLogin' %}">Login</a> here.
            
        </div>
    </div>
</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}