{% extends 'registration/base.html' %}
{% load static %}
{% block body %}
<div class="limiter">

    <div class="container-login100"
        style="background-image:url({% static 'JigyasaApp\loginSignup\images\bg-01.jpg' %});">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

            <div class="alert alert-success" role="alert">
                Your Password Has Been Set! You can <a href="{% url 'ShowLogin' %}">Login</a> Now
                
            </div>
        </div>
    </div>
</div>


<p style="padding:10px">
    
</p>
{% endblock body %}