{% extends 'dashboard/admin/base_template.html'%}
{% load static %}

{% block title %}
Manage Course
{% endblock title%}

{% block main_title %}
Manage Course
{% endblock main_title%}

{% block side_title %}
Manage Course
{% endblock side_title%}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <!-- Main column -->
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Manage Your Course Here</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Date Added</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                    <tr>
                    <td>{{course.id}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.created_at}}</td>
                    <td><a href="/app/admin_edit_course_page/{{course.id}}/" class="btn btn-dark">Edit</a></td>
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}