{% extends 'dashboard/admin/base_template.html'%}
{% load static %}

{% block title %}
Admin Edit Student
{% endblock title%}

{% block main_title %}
Edit Student | Username: {{student.admin.username}} | ID:{{student.admin.id}}
{% endblock main_title%}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages  %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!!!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!-- Main column -->
        <div id="cus_alerts"></div>
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Your Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action={% url 'AdminSaveEditStudent' %} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <!-- Username and Ajax div -->
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        value="{{student.admin.username}}">
                                </div>
                                <div class="col-md-2" style="
                                margin-top: 3.1%;">

                                    <button type="button" id="check_user" class="btn btn-dark align-center">Check
                                        User</button>

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="firstname">First Name:</label>
                                    <input type="text" class="form-control" id="firstname" name="firstName"
                                        value="{{student.admin.first_name}}">
                                    <input type="hidden" class="form-control" id="student_id" name="student_id"
                                        value="{{student.admin.id}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastname">Last Name:</label>
                                    <input type="text" class="form-control" id="lastname" name="lastName"
                                        value="{{student.admin.last_name}}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="email">Email Address:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        value="{{student.admin.email}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="address">Address:</label>
                                    <input type="text" class="form-control" id="address" name="address"
                                        value="{{student.address}}">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="course">Current Course:</label>
                                    <select class="form-control" name="current_course" id="current_course">
                                        {% for course in courses %}
                                        {% if course.id == student.course_id.id %}
                                        <option value="{{course.id}}">{{course.course_name}} </option>
                                        {% else %}
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="course">Change Course:</label>
                                    <select class="form-control" name="change_course" id="change_course">
                                        {% for course in courses %}
                                        {% if course.id == student.course_id.id %}
                                        {% else %}
                                        <option value="{{course.id}}">{{course.course_name}} </option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="session_start">Current Session Start:</label>
                                    <input type="date" class="form-control" id="curr_start_date"
                                        value="{{ student.session_start_year|date:'Y-m-d' }}"
                                        name="curr_session_start_date">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="session_end">Current Session End:</label>
                                    <input type="date" class="form-control" id="end_date"
                                        value="{{ student.session_end_year|date:'Y-m-d' }}"
                                        name="curr_session_end_date">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="session_start">Change Session Start:</label>
                                    <input type="date" class="form-control" id="start_date" value="{{ student.session_start_year|date:'Y-m-d' }}"
                                        name="change_session_start_date">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="session_end">Change Session End:</label>
                                    <input type="date" class="form-control" id="end_date" name="change_session_end_date"
                                    value="{{ student.session_end_year|date:'Y-m-d' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="profile_pic">Profile Pic:</label>
                                <input type="file" class="form-control" id="profile_pic" name="profile_picture"
                                >
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">Save Changes</button>
                        </div>
                    </form><!-- Form end -->
                </div><!-- /.card -->
            </div> <!-- col-md-12 -->
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}
{%block custom_js %}
<script>
    // intialise itself when the user submits.
    $("#check_user").click(function (event) {
        // creating formdata in dictionary format
        // which contains Orderid Email and csrfmiddleware tokens.
        var formData = {
            'username': $('input[name=username]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        }
        // we dont want the webpage to reload itself so we have used here asynchornus programming.
        // Here we have specified the request the browser must make with its attributes
        $.ajax({
                type: 'POST',
                url: "{% url 'CheckUserAvailabilty' %}",
                data: formData,
                encode: true
            })
            // when the ajax call is completed .done is called .
            // it willl recieve the data from views.py from the backend django server.
            .done(function (data) {
                console.log('done')
                parsedData = JSON.parse(data)
                myHtml = ""

                if (parsedData['status'] == 'no') {
                    myHtml += `<div class="alert alert-danger alert-dismissible fade show" role="alert">Sorry! Username Already taken.
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>`
                    $('#cus_alerts').append(myHtml)
                } else {
                    myHtml += `<div class="alert alert-success alert-dismissible fade show" role="alert">Hurray! Username Available.
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>`
                    $('#cus_alerts').append(myHtml)
                }

            })
        // this function help us to prevent the default nature of the submit event.(which is to reload itself.)
        event.preventDefault();
    })
</script>
{% endblock custom_js %}