{% extends 'dashboard/admin/base_template.html'%}
{% load static %}

{% block title %}
Edit Subject
{% endblock title%}

{% block main_title %}
Edit Subject
{% endblock main_title%}

{% block side_title %}
Edit Subject
{% endblock side_title%}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages  %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error!!!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!-- Main column -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Change Subject Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action={% url 'AdminSaveEditSubject' %} method="post">
                        {% csrf_token %}
                        <div class="card-body">
                                    <input type="hidden" name="subject_id" value="{{subject.id}}">
                            
                            <div class="form-group">
                                <label for="course">Select Your Course:</label>
                                <select class="form-control" name="course_id" id="course">
                                    {% for course in courses %}
                                    {% if course.id == subject.course_id.id %}
                                    <option value="{{course.id}}">{{course.course_name}}</option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="course">Current Faculty:</label>
                                    <select class="form-control" name="curr_staff" id="curr_staff">
                                        {% for staff in staffs %}
                                        {% if staff.id == subject.staff_id.id %}
                                        <option value="{{staff.id}}">{{staff.first_name}} {{staff.last_name}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="course">Change Faculty:</label>
                                    <select class="form-control" name="change_staff" id="staff_change">
                                        {% for staff in staffs %}
                                        <option value="{{staff.id}}">{{staff.first_name}} {{staff.last_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="course">Subject:</label>

                                    <input type="text" class="form-control" id="subject" name="subject_name"
                                      value="{{subject.subject_name}}">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                            </div>
                    </form><!-- Form end -->
                </div><!-- /.card -->
            </div> <!-- col-md-12 -->
        </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}