{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title> {% block title %}{% endblock title %} </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static "JigyasaApp\loginSignup\vendor\bootstrap\css\bootstrap.min.css" %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\fonts\font-awesome-4.7.0\css\font-awesome.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\fonts\iconic\css/material-design-iconic-font.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\vendor\animate\animate.css' %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\vendor\css-hamburgers\hamburgers.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\vendor\animsition\css\animsition.min.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\vendor\select2\select2.min.css' %}>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\vendor\daterangepicker\daterangepicker.css' %}>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\css\util.css' %}>
	<link rel="stylesheet" type="text/css" href={% static 'JigyasaApp\loginSignup\css\main.css' %}>
<!--===============================================================================================-->
    <style>
        {% block css_file %}{% endblock css_file %}
        {% block css %}{% endblock css %}
    </style>
</head>
<body>
	
 {% block body %}{% endblock body %}
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\jquery\jquery-3.2.1.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\animsition\js\animsition.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\bootstrap\js\popper.js' %}></script>
	<script src={% static 'JigyasaApp\loginSignup\vendor\bootstrap\js\bootstrap.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\select2\select2.min.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\daterangepicker\moment.min.js' %}></script>
	<script src={% static 'JigyasaApp\loginSignup\vendor\daterangepicker\daterangepicker.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\vendor\countdowntime\countdowntime.js' %}></script>
<!--===============================================================================================-->
	<script src={% static 'JigyasaApp\loginSignup\js\main.js' %}></script>
    {% block js %}{% endblock js %}
</body>
</html>