{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static 'home/img/favicon.png' %}"" rel="icon">
  <link href={% static 'home/img/apple-touch-icon.png' %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static 'home\vendor\bootstrap\css\bootstrap.min.css' %}  rel="stylesheet">
  <link href={% static 'home\vendor\bootstrap-icons\bootstrap-icons.css' %}  rel="stylesheet">
  <link href={% static 'home\vendor\boxicons\css\boxicons.min.css' %}  rel="stylesheet">
  <link href={% static 'home\vendor\glightbox\css\glightbox.min.css' %}  rel="stylesheet">
  <link href={% static 'home\vendor\remixicon\remixicon.css' %}  rel="stylesheet">
  <link href={% static 'home\vendor\swiper\swiperbundle.min.css' %}  rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static 'home\css\style.css' %} rel="stylesheet">
<!-- Custom css -->
  <style>
    {% block css %}
    {% endblock css %}
  </style>

</head>

<body style="min-height:80vh;" >
   <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="index.html">Jigyasa</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>

          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          <!-- <li><a href="blog.html">Blog</a></li> -->
          <li class="dropdown"><a href=""><span>LOGIN</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Student</a></li>
              <li><a href="#">Faculty</a></li>
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block body %}
  {% endblock body %}



  <!-- Vendor JS Files -->
  <script src={% static 'home\vendor\bootstrap\js\bootstrap.bundle.min.js' %}""></script>
  <script src={% static "home\vendor\glightbox\js\glightbox.min.js" %}></script>
  <script src={% static "home\vendor\isotopelayout\isotope.pkgd.min.js" %}></script>
  <script src={% static "home\vendor\phpemailform\validate.js" %}></script>
  <script src={% static "home\vendor\swiper\swiperbundle.min.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "home\js\main.js" %}></script>
  {% block js %}
  {% endblock js %}
</body>

</html>