{% extends 'registration/base.html' %}
{% load static %}
{% block body %}

<div class="limiter">
	<div class="container-login100"
		style="background-image:url({% static 'JigyasaApp\loginSignup\images\bg-01.jpg' %});">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form method="POST" class="login100-form validate-form">
				{% csrf_token %}
				<span class="login100-form-title p-b-49">
					Reset Password
				</span>
				<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
					{{form}}
				</div>
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>
				</div>
				<br>

			</form>
		</div>
	</div>
</div>

{% endblock body %}