{% extends 'dashboard/admin/base_template.html'%}
{% load static %}

{% block title %}
Manage Student
{% endblock title%}

{% block main_title %}
Manage Student
{% endblock main_title%}

{% block side_title %}
Manage Student
{% endblock side_title%}

{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <!-- Main column -->
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Manage Your Staff Here</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Course</th>
                    <th>Start Year</th>
                    <th>End Year</th>
                    <th>Profile Pic</th>
                    <th>Address</th>
                    <th>Last Login</th>
                    <th>Date Joined</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in students %}
                    <tr>
                    <td>{{student.admin.id}} </td>
                    <td>{{student.admin.username}} </td>
                    <td>{{student.admin.first_name}}</td>
                    <td>{{student.admin.last_name}}</td>
                    <td>{{student.gender}}</td>
                    <td>{{student.course_id.course_name}}</td>
                    <td>{{student.session_start_year}}</td>
                    <td>{{student.session_end_year}}</td>
                    <td>{{student.profile_pic}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.admin.last_login}}</td>
                    <td>{{student.admin.date_joined}}</td>
                    <td><a href='/app/admin_edit_student_page/{{student.admin.id}}/' class="btn btn-dark">Edit</a></td>
                  </tr>
                {% endfor %}
                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
    </div><!-- /.container-fluid -->
</section>
{% endblock main_content %}