<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row" style="display: flex; flex-direction: row; justify-content:space-between;">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Jigyasa</h3>
            <p>
              Bhopal, MP 462001<br>
              India <br><br>
              <strong>Phone:</strong> +91 7999457029<br>
              <strong>Email: </strong>stempvt@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">To-Do List</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Schedule meetings</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Notes management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Secure Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Email-Alerts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>STEM Platforms Limited</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->