{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'FacultyHome' %}" class="brand-link">
    <img src={% static 'dashboard/dist/img/AdminLTELogo.png' %} alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">JIGYASA Staff Panel</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src={% static 'dashboard/dist/img/user2-160x160.jpg' %} class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{user.first_name}} {{user.last_name}} </a>

      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!-- Home -->
        {% url 'FacultyHome' as FacultyHome %}
        <li class="nav-item">
          <a href='{{FacultyHome}}' class="nav-link {% if request.path == FacultyHome %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              Home

            </p>
          </a>
        </li>
        <!-- Schedule Meetings -->
        {% url 'FacultyScheduleMeeting' as FacultyScheduleMeeting %}
        <li class="nav-item">
          <a href='{{FacultyScheduleMeeting}}' class="nav-link {% if request.path == FacultyScheduleMeeting %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              Schedule Online Class
            </p>
          </a>
        </li>
        <!-- Take Attendnace -->
        {% url 'FacultyTakeAttendance' as FacultyTakeAttendance %}
        <li class="nav-item">
          <a href='{{FacultyTakeAttendance}}'
            class="nav-link {% if request.path == FacultyTakeAttendance %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              Take Attendance
            </p>
          </a>
        </li>
        <!-- Update Attendance -->
        {% url 'FacultyViewUpdateAttendance' as FacultyViewUpdateAttendance %}
        <li class="nav-item">
          <a href='{{FacultyViewUpdateAttendance}}'
            class="nav-link {% if request.path == FacultyViewUpdateAttendance %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              View/Update Attendance
            </p>
          </a>
        </li>
        <!-- Apply Leave -->
        {% url 'FacultyApplyLeave' as FacultyApplyLeave %}
        <li class="nav-item">
          <a href='{{FacultyApplyLeave}}'
            class="nav-link {% if request.path == FacultyApplyLeave %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              Apply Leave
            </p>
          </a>
        </li>
        <!-- Feedback  -->
        {% url 'FacultyFeedbackMenu' as FacultyFeedbackMenu %}
        <li class="nav-item">
          <a href='{{FacultyFeedbackMenu}}'
            class="nav-link {% if request.path == FacultyFeedbackMenu %}active {% endif %}  ">
            <i class="fas fa-home"></i>
            <p>
              Staff Feedback
            </p>
          </a>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>