{% extends 'dashboard/staff_templates/base_template.html'%}
{% load static %}

{% block title %}
Staff Todo List
{% endblock title%}

{% block main_title %}
Staff Todo List
{% endblock main_title%}
{% block page_title %}
Staff Todo List
{% endblock page_title%}

{% block main_content %}
<section class="content">
    <div class="container">
        <div class="form-group">
            <div class="card card-primary">
                <div class="card-header">Todo List</div>
                <div class="card-body">
                    <label for="addtxt">Add your task here</label>
                    <textarea name="addtxt" class="form-control" id="addtxt" rows="3"></textarea>
                    <button id="addbtn" class="btn my-2 bg-primary btn-block" style="background-color: #e3f2fd">
                        Add Note
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div id="notes" class="row container-fluid">
        </div>

    </div>

</section>
{% endblock main_content %}

{% block custom_js  %}
<script>
    console.log('Todo List')
    $(document).ready(function () {
        console.log("This is my AddMyNotes");
        showNotes();
        // if user wants to add Notes
        $('#addbtn').click(function () {
            console.log('add button clicked')
            var addTxt = $("#addtxt").val();
            console.log(addTxt)
            var notes = localStorage.getItem("notes");
            var noteObj;
            if (notes == null) {
                noteObj = [];
            } else {
                noteObj = JSON.parse(notes);
            }
            noteObj.push(addTxt);
            localStorage.setItem("notes", JSON.stringify(noteObj));
            addTxt = " ";
            showNotes();
        })

    })

    function showNotes() {
        console.log("in the show function");
        let notes = localStorage.getItem("notes");
        console.log(notes);
        if (notes == null) {
            noteObj = [];
        } else {
            noteObj = JSON.parse(notes);
        }
        let html = ``;
        noteObj.forEach(function (element, index) {
            html +=`<div class="card card-primary" style="width: 13.5rem; margin-right:1%">
                <div class="card-header">Note-${index + 1}</div>
                <div class="card-body">
                <strong>
                    <p class="noteCard card-text">${element}
                    </p>
                </strong>
                <button id="${index}" onclick=delNote(this.id) class=" btn btn-block bg-primary" style="background-color: #e3f2fd;margin-top:15%;">
                    Delete Note
                </button>
                </div>
               
            </div>`;
            // console.log(element, index, html);
        });
        let notesElm = document.getElementById("notes");
        //   console.log(notesElm)
        if (noteObj.length != 0) {
            notesElm.innerHTML = html;
        } else {
            notesElm.innerHTML = `<strong>Nothing to show! Use "Add a Note" section above to add notes.</strong>`;
        }
    }

    function delNote(index) {
        console.log(index);
        console.log("in the delete section of the notes element ");
        let notes = localStorage.getItem("notes");
        console.log(notes);
        if (notes == null) {
            noteObj = [];
        } else {
            noteObj = JSON.parse(notes);
        }
        noteObj.splice(index, 1);
        localStorage.setItem("notes", JSON.stringify(noteObj));
        showNotes();
    }
</script>
{% endblock custom_js  %}