{% extends 'JigyasaApp\base.html' %}
{% block title %}
{% load static %}
Student Signup
{% endblock title %}
{% block css %}
.link{
flex-direction:row;
}
{% endblock css %}

{% block body %}
<!-- SignUp Form -->
<div class="limiter">
	<div class="container-login100"
		style="background-image:url({% static 'JigyasaApp\loginSignup\images\bg-01.jpg' %});">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form action="" method="POST" class="login100-form validate-form">
				{% csrf_token %}
				<span class="login100-form-title p-b-49">
					Student Sign-up
				</span>

				<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
					<span class="label-input100">Username</span>
					<input class="input100" type="text" name="username" placeholder="Type your username">
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
					<span class="label-input100">Student Enrollment ID:</span>
					<input class="input100" type="text" name="username" placeholder="Enter enrollment number">
					<span class="focus-input100" data-symbol="&#xf206;"></span>
				</div>

				<div class="form-group">
					<label for="exampleFormControlSelect1">Branch:</label>
					<select class="form-control" id="exampleFormControlSelect1">
						<option>CSE</option>
						<option>IT</option>
						<option>ECE</option>
						<option>EX</option>
						<option>CME</option>
						<option>CE</option>
						<option>MECH</option>
					</select>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100">Password</span>
					<input class="input100" type="password" name="pass" placeholder="Type your password">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>
				<br>
				<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100">Enter Password Again</span>
					<input class="input100" type="password" name="pass" placeholder="Type your password again">
					<span class="focus-input100" data-symbol="&#xf190;"></span>
				</div>


				<br>
				<!-- Rainbow button for sign up -->
				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn">
							<a
								href="#">
								Sign Up
							</a>
						</button>
					</div>
				</div>
				<!-- Last login sign in buttons -->
				<div class="flex-col-c p-t-50 m-l-12 link">
					<div class="first">
						<span class="txt1 p-b-17">
							LogIn into your account
						</span>
						<button class="login100-form-btn">
							<a href={% url 'StudentLoginPage' %} class="txt2">
								Login
							</a>
						</button>
					</div>
					<div class="second" style="margin-left: 10%;">
						<span class="txt1 p-b-17">
							Go to our home Page
						</span>
						<button class="login100-form-btn">
							<a href={% url 'homePage' %} class="txt2">
								Home
							</a>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}